{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Shooping</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
    <link rel="stylesheet" href="{% static 'Cart.css'%}">
    <body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="{% url 'Home' %}">4MS</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item active">
				  <a class="nav-link" href="{% url 'Home' %}">Home <span class="sr-only">(current)</span></a>
				</li>
		   
			  </ul>
			  <div class="form-inline my-2 my-lg-0">
					  <a href="Logout"class="btn btn-warning">Logout</a>
					  <a href="{% url 'Cart' %}">
							<img  id="cart-icon" src="{% static 'img/Cart.png' %}">
					 </a>
		  
			  </div>
			</div>
		  </nav>
	   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   
	   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   
	   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	   <div class="row">
		<div class="col-lg-12">
			<div class="box-element">
				<a class="btn btn-outline-dark" href=Home>&#8592; Continue Shopping </a>
			</div>
			<a style="floot:right; margin:5px; " class="btn btn-success" href="{%url "Payment"%}">Checkout</a>
			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2;"><strong>Product</strong></div>
					<div style="flex:2;"><strong>Item</strong></div>
					<div style="flex:1;"><strong>Price</strong></div> 
					<div style="flex:1;"><strong>Quantity</strong></div> 
				</div>
				{% comment %} changed the variable name to "cart_items" as it is in the view user_cart {% endcomment %}
			{% for item in cart_items %}
				<div class="cart-row">
						<div style="flex:2;"><img  class='row-image' src="{{ item.product.imageURL }}"></div>
						<div style="flex:2;">{{ item.product.name }}</div>
						<div style="flex:1;">{{ item.product.price| floatformat:2}}</div>
					
					<div style="flex:1;">
						<form method="POST" action="{% url 'update_quantity' item.id %}">
							{% csrf_token %}
							<button type="submit" name="action" value="increase">+</button>
							<input type="text" name="quantity" value="{{ item.quantity }}">
							<button type="submit" name="action" value="decrease">-</button>
						</form>
					</div>
				</div>
			{% endfor %}

			</div>
		</div>
	</div>
	</body>

